
.toolbar {

  .simulationBase{
    flex-direction: column;
    align-items: flex-start;
    padding-left:40px;
    label{
      display:block;
      opacity: 0.5;
      font-size:10px;
    }

    .slider-handle {
      border-radius: 50%;
    }
  
    #simulationBaseTimer{
      width:200px;
    }
  }
}