
body.light {
  --toolbar-bg-color: 178, 226, 242;

  .toolbar {
    background-color:rgb(var(--toolbar-bg-color));
  }

  .ui-anglepicker {
    background: linear-gradient(to bottom, #dbdbdb 0%, #e1e1de 20%, #f8f8f3 100%);
    border-color: #666;
    box-shadow: inset 0 2px 3px white, inset 0 -1px 2px #fffef8;
  }

  .ui-anglepicker:hover,
  .ui-anglepicker.ui-anglepicker-dragging {
    border-color: #494949;
  }

  .ui-anglepicker-dragging .ui-anglepicker-dot,
  .ui-anglepicker-dragging .ui-anglepicker-line,
  .ui-anglepicker:hover .ui-anglepicker-dot,
  .ui-anglepicker:hover .ui-anglepicker-line {
    background: #494949;
  }

  .ui-anglepicker-dot {
    background: #838383;
  }

  .ui-anglepicker-line {
    background: #838383;
  }

  .tooltip-inner {
    color: #b0b0b0 !important;
  }

  input {
    background: none repeat scroll 0 0 rgb(var(--input-bg-color));
    border-color: rgb(var(--border-color));
  }


  .readonly-highlight {
    background-color: rgba(50, 43, 168, 0.5);
    opacity: 0.2;
    color: darkblue;
  }

  .content {
    background-color: #FFFFFF;
  }

  #canvas_config {
    border-color: transparent;
    background-color: rgba(val(--toolbar-bg-color), 0.7);

    &:hover {
      border-color:rgb(var(--tint-color)) !important;
      color: rgb(var(--tint-color));
    }
  }

  #codeDialog {
    .codeContainer {
      background-color: white;
    }
  }

  #FigureMarkdownEdit {
    .header {
      background-color: white;

      .left {
        color: rgb(var(--tint-color));
        background-color: rgba(0, 0, 0, 0.1);
      }

      .right {
        color: rgb(var(--tint-color));
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  #testDialog {
    .testInfo {
      color: black;
      border-color: lightgray;
      background-color: white;
    }

    #testCanvas {
      background-color: white;
    }

  }

  .portDirectionOption {
    & label>input+span {
      /* IMAGE STYLES */
      color: gray !important;
    }

    & label>input:checked+span {
      /* (CHECKED) IMAGE STYLES */
      color:rgb(var(--tint-color)) !important;
    }
  }


  .portTypeOption {
    & label>input {

      /* HIDE RADIO */
      +span {
        /* IMAGE STYLES */
        color: gray !important;
      }
    }

    & label>input:checked+span {
      /* (CHECKED) IMAGE STYLES */
      color:rgb(var(--tint-color)) !important;
    }
  }

  #filter {
    background-color: #282a30;

    .filter_header {
      background: none repeat scroll 0 0 #303030;
      border-bottom-color: rgb(var(--border-color));
      border-top-color: #111111;
      color: white;
    }

    .filter_toolbar {
      background: none repeat scroll 0 0 #303030;

      #add_filter_button {
        color: rgb(var(--tint-color));
      }
    }

    .filter_actions {
      .panel-body {
        .btn-primary {
          color: #fff;
          background-color: rgb(var(--tint-color));
          border-color: rgb(var(--tint-color));
        }
      }


      .icon {
        color: #26B4A8;
        color: rgba(255, 255, 255, 0.25);

        &:hover {
          color: rgb(var(--tint-color));
        }
      }

      .filter-heading {
        color: #DDDDDD !important;
        background-color: transparent !important;
        background-image: none !important;

        .icon {
          * {
            stroke: white !important;
          }
        }
      }
    }


    .input-group-addon {
      color: rgba(0, 0, 0, 0.3);
      background-color: white;
    }

    .panel-default {
      background-color: rgba(var(--tint-color), 0.2);
      border-top-color: rgb(var(--border-color));
      border-bottom-color: rgb(var(--border-color));
    }
  }


  .layer-name-prompt {

    .modal-header {
      border-bottom-color:rgb(var(--tint-color));
    }

    input {
      background-color: rgba(0, 0, 0, 0.02) !important;

      &:focus {
        border: 1px solid rgb(var(--tint-color));
      }
    }

    .btn-primary {
      background-color: rgb(var(--tint-color));

      &:hover {
        background-color: rgb(val(--tint-color-dark));
      }
    }
  }

  #layer {

    .panetitle {
      border-bottom-color: rgb(var(--border-color));
      color:rgb(var(--tint-color));
      box-shadow: 0 4px 2px -2px rgba(31, 73, 125, 0.3);
    }

    #layer_elements {
      .layerElement {

        &[data-visibility="false"] {
          opacity: 0.5;
        }
        .icon {
          &:hover {
            * {
              stroke:rgb(var(--tint-color))!important;
            }
          }
        }
      }


    }
  }

  rect.Raft {
    fill: rgba(28, 155, 171, 0.1);
  }

  #configMenuIcon {
    &:hover {
      color:rgb(var(--tint-color));
    }
  }


  #paletteElementsOverlay {
    background-color: rgba(255, 255, 255, 0.7);
  }


  #figureConfigDialog {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left-color: rgb(var(--tint-color));

    .figureAddLabel {
      &:hover {
        color:rgb(var(--tint-color));
      }
    }

    &:after {
      border-right-color:rgb(var(--tint-color));
      border-top-color: transparent;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
  }

  .workspace {

    .palette {
      border-right-color: rgba(74, 74, 74, 0.5);
      border-left-color: rgba(74, 74, 74, 0.5);

      .title {
        div {
          h2 {
            color:rgb(var(--tint-color));
          }
        }
      }

      .palette_item {
        >div {
          border-color: transparent;

          div {
            background-color: rgba(0, 0, 0, 0.05);
          }
        }

        .glowBorder {
          border-color:rgb(var(--tint-color));
        }
      }

      .request {
        color:rgb(var(--tint-color));
      }
    }
  }


  #tool_shape {
    .dropdown-menu{
      padding: 4px;
      font-size: var(--label-font-size);
      font-weight: var(--label-font-weight);
      
      .tool_shape_entry {
        &:hover{
          background-color: rgb(var(--list-item-hover-bg-color));
        }

        .tool_shortcut {
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  .welcomeMessage {
    background-color: white;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 50%;

    img {
      background-color: white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .teaser {
      background-color: white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

      h2 {
        color: rgb(var(--tint-color));
      }
    }

    button {
      background-color: rgb(var(--tint-color));
      color: white;
    }
  }
}