body {
	background-color: #e7ebee !important;
}
body * {
font-family: 'Lato', Sans-Serif !important;
}

header {
position: sticky;
top: 0px;
z-index:100;
border-bottom: 10px solid #F6C64A;
box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
background-color: #99b6d2;
}

header:before {
content: " ";
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
border-bottom: 1px solid white;
}

.entry-content h1 {
font-weight: 100;
left: -4vw;
position: relative;
font-size: 34px;
color: #D46D3F;
}

.home main{
margin-right: -5vw !important;
margin-left: -5vw !important;
margin-block-start: 0 !important;
}

.home main .entry-content:first-child{
max-width:100%;
margin-left:0px;
margin-right:0px;
}

.home .wp-block-heading{
font-size: 5vw;
}

.mediteasyHeader {
font-weight: 100;
letter-spacing: 1vw;
font-size: min(30px, 2vw) !important;
}


.mediteasySlogan{
transition: all 0.5s;
margin-block-start: 18px !important;
font-size: min(20px, 1vw) !important;
letter-spacing: 0.5vw;
white-space: nowrap;
}

nav{
transition: all 1s;
}

.mediteasyLogo img{
width: 135px;
height: 135px;
transition: all 0.5s;
}

.scrolled > div{
padding: 0px;
padding-left:30px;
padding-right:30px;
padding-bottom:10px;
transition: all 0.5s;
}


.scrolled .mediteasySeperator{
margin-block-start: 0px;
transition: all 0.5s;
}


.scrolled .mediteasySlogan{
margin-block-start: 0px !important;
transition: all 0.5s;
}
.scrolled nav{
margin-block-start: 0px;
transition: all 1s;
}

.scrolled .mediteasyLogo img {
width: 70px;
height: 70px;
transition: all 0.5s;
}

@media only screen and (min-device-width: 480px){


}
  

<script>
// When the user scrolls down 50px from the top of the document, resize the header's font size
window.onscroll = () => {
  let header = document.querySelector('header')	
  let containsClass = header.classList.contains('scrolled')
  if (document.documentElement.scrollTop > 200 && !containsClass) {
     header.classList.add("scrolled" );
  } 
  else if (document.documentElement.scrollTop < 50 && containsClass){
      header.classList.remove("scrolled");
  }
}
</script>

