#canvas_zoom {
    background-color: rgb(var(--pane-bg-color));
    border: 1px solid rgb(var(--border-color));
    box-shadow: var(--box-shadow-0);
    button {
        background-color: transparent;
        border-color: transparent;
        transition: all 0.5s;

        &:hover {
            border-color:rgb(var(--tint-color));
        }
    }
}
