.playButton {
    background-color: #FFF;
    box-shadow: var(--box-shadow-0);

    &:hover {
        box-shadow: var(--box-shadow-1);
    }

    &:focus {
        color: rgba(0, 0, 0, 0);
    }

    &>span {
        &>span {
            background-color: rgb(var(--tint-color));
            border-color: transparent;
        }
    }

    &.play {
        &>span {
            &>span {
                background-color: rgb(var(--tint-color));
            }
        }
    }
}
