#probe_hint {
    color: white;
}

#probe_window {
    background: #009DAC;
    color: white;
}

#probe_window_stick {
    border-bottom-color: rgb(var(--border-color));
}

#probeSortable {
    li {
        path {
            stroke: white;
        }

        div {
            background: rgba(0, 157, 172, 0.8);
        }
    }

    li:nth-child(even) {
        background: #04A9B9;

        div {
            background: rgba(4, 169, 185, 0.5);
        }
    }

    .inplaceEdit {
        background: rgba(255, 255, 255, 0.1);
    }
}
