
body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;

    .dropdown-menu {
        padding: var(--menu-container-padding);
        li {
            text-align: left;
            display: flex;
            flex-direction: row;
            height: 32px;
            align-items: center;
            cursor: pointer;
            border-radius: 4px;
            padding-left: 4px;
            padding-right: 4px;
        }
    }

}
  
@keyframes spinner {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.spinner {
    >*{
        opacity: 0.08 !important;
    }
    &:before {
        content: '';
        transform: translate(-50%, -50%) ;
        position: absolute;
        z-index: 2000;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border-width:2px;
        border-style: solid;
        animation: spinner .6s linear infinite;
    }
}


.tooltip{
    z-index: 1000000;
}
  