.modal-backdrop.in{
  transition: all .4s linear;
}

.genericDialog {
  .modal-content{
    border-radius:@borderRadiusBig;

    .modal-header{
      border-bottom:0;
      font-weight:400;
      box-shadow:none;
      h4{
        padding-bottom:4px;
      }
    }

    .modal-footer {
      border: none;
    }

    .modal-body {
      min-height:120px;
      max-height:80%;
      overflow:auto;

      .section {
        border: 0px solid transparent !important;  
        cursor: default !important;
      }

      .list-group {
        overflow-y: auto;
        overflow-x: auto;

        *[data-draw2d="true"] {
          font-weight: bold;
        }

        .list-group-item {
          background-color: transparent;
          font-weight: 300;

          &:hover {
            text-decoration: underline;
          }
        }

        *[data-draw2d="false"][data-type="file"] {
          cursor: default;
          text-decoration: none !important;

        }
      }
    }
  }
}
