/** don't place ".section" in the sub-tree of ".sections" . The ".section" is 
    used in other page elements like pdf, dialog, single page, ... as well without the
    outer "sections" content
 **/ 
.section {
  margin-left:20px;
  margin-right:20px;
  cursor: pointer;
  border-width:1px;
  border-style:solid;
  padding-left:3px;
  position: relative;


  &.error {
    border-width:1px;
    border-style:solid;
  }

  .fc{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right:0px;
    width:5px;
    .tinyFlyoverMenu {
      opacity: 0;
      z-index: unset;
    }
  }

  &[data-type='timing'],
  &[data-type='image']{
    text-align: center;
  }

  .sectionContent {
    /* required for flashcard */
    perspective: 1800px;

    
    .placeholderContainer{
      display: flex;
      width: fit-content;
      padding:15px;
      border-radius:@borderRadiusBig;
      margin: 50px;
      margin-left: auto;
      margin-right: auto;
      border-style: dashed;
      border-width: 1px;

      .placeholderButtons{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-left: 3vw;
        justify-content: center;
        .placeholderMenuInsertSection{
          text-align: left;
        }
      }
      .placeholderText{
        h1{
          font-size:14px !important;
          font-weight: bold !important;
          border:none !important;
        }
        h2{
          font-size: var(--label-font-size);
          font-weight:var(--label-font-weight);
        }
      }
    }

    &[data-type='image']{
      text-align: center;
      max-width: 100%;

      #editor-container {
        display: inline-grid;
        min-height: 200px;
        position: relative;
        justify-items: center;
        width:100%;
        .drop-message{
          height: 100px;
          border: 1px solid rgb(var(--border-color));
          display: flex;
          width: 300px;
          align-items: center;
          justify-content: center;
          background-color: rgba(var(--pane-bg-color),0.4);
          border-radius: @borderRadiusBig;
          box-shadow: var(--box-shadow-1);
          grid-area: 1 / 1 / 2 / 2;
          position: absolute;
          margin-top: 2vh;
          backdrop-filter: blur(4px);
          font-size: var( --label-font-size);
          font-weight: var( --label-font-weight);
      
        }
        .scaleSlider {
          position: absolute;
          width:100%;         
        }
        #image-preview {
          grid-area: 1 / 1 / 2 / 2;
          width:100%;
          .image-view {
            display: inline-block;
            position: relative;
            margin-right: 13px;
            margin-bottom: 13px;
            width:100%;
            img {
              max-width: 100%;
            }
          }
          .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
          }
        }
      }
    }

    &[data-type='flashcard'],
    &[data-type='wysiwyg'],
    &[data-type='markdown'],
    &[data-type='cloze']{
      h1 {
        font-weight: 400;
        margin-bottom: 0;
        margin-bottom: 18px;
        margin-top: 19px;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        font-size: 18px;
      }
      h2, h3 {
        font-weight: 300;
        font-size: 18px;
      }

      table { 
        margin-left:auto !important;
        margin-right:auto !important;

        border: 1px solid rgb(var(--border-color));
        border-collapse: separate;
        border-left: 0;
        border-radius: 4px;
        border-spacing: 0px;
        thead {
          display: table-header-group;
          vertical-align: middle;
          border-color: inherit;
          border-collapse: separate;
        }
        tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
        }
        th, td {
            padding: 5px 8px 6px 8px; 
            text-align: left;
            vertical-align: top;
            border-left: 1px solid rgb(var(--border-color));    
        }
        td {
            border-top: 1px solid rgb(var(--border-color));    
        }
        thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
            border-radius: 4px 0 0 0;
        }
        thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
            border-radius: 0 0 0 4px;
        }
        
      }
      

      .info{
        border-width:1px;
        border-style: solid;
        border-radius: @borderRadiusBig;
        font-weight: 400;
        letter-spacing: 2px;
        padding: 5px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        p{
          padding: 0;
          margin:0;
        }
      }
    }

    &[data-type='brain']{
      text-align:center;
      position: relative;
      max-width:100%;
    }


    &[data-type='flashcard']{
      .sectionMenuFlip{
        position:absolute;
        left:50%;
        bottom: 0px;
        border:0px;
        border-radius: 50%;
        padding-top:6px;
        padding-bottom:6px;
        width:40px;
        height:40px;
      }
      .flip_box {
        position: relative;
        transition: all 0.5s ease-out;
        transform-style: preserve-3d;
        display: inline-grid;
        width:100%;
        border-radius:@borderRadiusSmall;
      }

      .front,
      .back {
        backface-visibility: hidden;
        grid-area: 1 / 1 / 2 / 2;
      }

      .back {
        background-color: rgb(243, 241, 241);
        transform: rotateY(180deg);
      }

      .flipped-back {
        animation: flip  0.5s normal;
        animation-fill-mode: forwards;
      }

      .flipped-front {
        animation: flip  0.5s reverse;
        animation-fill-mode: forwards;
      }

      @keyframes flip {
        0% {  
          transform: rotateY(   0deg); 
        }
        100%   {  
          transform: rotateY(-180deg);
          background-color: black;
        }
      }
    }

    &[data-type='spacer']{
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      transition: all 0.2s ease;
      gap: 1px;
      .electra-button{
        opacity: 0; 
        transform: scale(0.3,0.5);
        transition: all 0.2s ease;
      }
    }
  }
}
