#leftTabStrip {
    height: 100%;
    position:absolute;
    width: @tabSize;
    padding-top: @tabSize;
    overflow:hidden;
    display: flex;
    flex-direction: column;

    li {
      float: none;
      margin: 0;

      a {
        margin-right: 0;
        border: 0;
      }
    }

    >.active>a, 
    >.active>a:hover, 
    >.active>a:focus {
      border:0;
    }

    .spacer {
      flex-grow: 1;
    }

    .leftTab {
      border-radius: 0 !important;
      width:@tabSize;
      height:@tabSize;
      padding: 4px;
    }

}
