#files {
  overflow-y: scroll;
  padding: 40px;

  .filesTeaser {
    display: flex;
    flex-direction: row;
    align-items: center;
    height:70px;

    .title {
      font-weight: 300;
      font-size: 3vw;
      white-space: nowrap;
    }
    img, svg {
        padding-right: 40px;
        height: 100%;
    }
  }

  .deleteIcon {
    position: absolute;
    right: 24px;
    top: 18px;
    cursor: pointer;
    font-size: 25px;
    padding: 4px;
    border-radius: @borderRadiusSmall;
  }

  #material-tabs {
    position: relative;
    display: block;
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    a {
      position: relative;
      display: inline-block;
      text-decoration: none;
      padding-bottom: 8px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      transition: all 0.3s ease;
      outline: none;
      z-index: 1001;

      &.active {
        font-weight: 400;
        transition: all 0.2s ease;
      }
    }
  }

  .material-tab-content {
    #userFiles,
    #globalFiles {
      min-height: 600px;
      display: flex;
      flex-direction: column;

      .fileOperations {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        padding-bottom: @buttonSpacing;
        padding-left: @contentToEdgePadding;
        padding-right: @contentToEdgePadding;

        border-top-width: 1px;
        border-top-style: solid;
        padding-top: @buttonSpacing;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: @buttonSpacing;
      }

      .filePath{
        padding-left: @contentToEdgePadding;
        padding-right: @contentToEdgePadding;
      }

      .fileList{
        padding-left: @contentToEdgePadding;
        padding-right: @contentToEdgePadding;
   
        .list-group-item {
          cursor: pointer;
      
          .thumb {
            .thumbnail {
              cursor: pointer;
            }
            .media-body {
              padding-top: 14px;
              padding-left: 20px;
            }
      
            h4 {
              font-size: 18px;
              display: inline-block;
            }
      
            .editIcon {
              padding-left: 10px;
              font-size: 14px;
              display: none;
            }
      
            &:hover {
              h4 {
                text-decoration: underline;
              }
      
              .editIcon {
                display: inline-block;
              }
            }
          }
        }      
      }
    }
  }

  header {
    position: relative;
  }

  .sliding-bar {
    position: absolute;
    z-index: 1000;
    display: block;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
    border-width: 0 0 3px 0;
    border-style: solid;
  }
}