
.tinyFlyoverMenu {
  border-width:1px;
  border-style: solid;
  position:absolute;
  top:-15px;
  right:20px;
  border-radius: @borderRadiusSmall;
  z-index:1;
  padding: 3px;
  
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
}

.section {

  .tinyFlyoverMenu {
    position:sticky;
    float:right;
    top:10px;
  }
}
