.toolbar {
  position: relative;
  display: flex;
  align-items: center;
  gap: @buttonSpacing;
  padding-right: 10px;
  height: @toolbarHeight;
  padding: var(--menu-container-padding);

  * {
    outline: none;
  }

  .spacer {
    flex-grow: 1;
  }

  .group {
    display: flex;
    flex-direction: row;
    align-items: center;
    height:100%;

    .statusIndicator {
      margin: 20px;

      img {
        display: block;
        cursor: pointer;
        margin: auto;
      }

      span {
        font-size: .8em;
        text-align: center;
        width: 100%;
        display: inline-block;
        white-space: nowrap;
      }

      .notSupported {
        display: none;
        font-weight: bold;
      }

      .connected {
        display: block;
      }

      .disconnected {
        display: none;
      }
    }

    .statusIndicator.disabled {
      img {
        cursor: not-allowed;

        &:hover {
          box-shadow: none;
        }
      }

      .notSupported {
        display: block;
      }

      .connected {
        display: none;
      }

      .disconnected {
        display: none;
      }
    }

    .statusIndicator.error:not(.disabled) {
      span {
        font-weight: bold;
      }

      .notSupported {
        display: none;
      }

      .connected {
        display: none;
      }

      .disconnected {
        display: block;
      }
    }
  }
}