.workspace {

  .palette {
    border-right-color: rgba(74, 74, 74, 0.5);
    border-left-color: rgba(74, 74, 74, 0.5);

    .title {
      div {
        h2 {
          color:rgb(var(--tint-color));
        }
      }
    }

    .palette_item {
      >div {
        border-color: transparent;

        div {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }

      .glowBorder {
        border-color:rgb(var(--tint-color));
      }
    }

    .request {
      color:rgb(var(--tint-color));
    }
  }
}
