.notifyjs-bootstrap-base {
    box-shadow: var(--box-shadow-1);
}


.notifyjs-bootstrap-info {
    padding: var(--menu-container-padding);
    color: rgb(var(--text-color));
    background-color: rgb(var(--pane-bg-color));
}


#notificationToast {
    background-color:rgb(var(--tint-color));
    color: white;
}
