#readme {
    .authorPage {
        h1 {
            color:rgb(var(--tint-color));
        }

        h2 {
            color: rgb(var(--tint-color));
        }
    }

    footer {
        color:rgb(var(--tint-color));

        a {
            color: rgb(var(--tint-color));
        }
    }
}
