.tinyFlyoverMenu {
    box-shadow:  var(--box-shadow-1);
    border-color: rgb(var(--border-color));
    background-color: rgb(var(--pane-bg-color));

    div {
        border-color: transparent;
        &:hover {
            border-color: rgb(var(--border-color));
        }
    }
}
