.welcomeMessage {
    background-color: rgba(var(--workplace-bg-color), 0.8);

    .welcomeMessageContent {
        background-color: rgb(var(--workplace-bg-color));
        .teaser {
        background-color: rgb(var(--pane-bg-color));
        box-shadow: var(--box-shadow-1);
    
        h2 {
            color: rgb(var(--tint-color));
        }
        }
    }
}
