input {
  background: none repeat scroll 0 0 rgb(var(--input-bg-color));
  border-color: rgb(var(--border-color));
}

.readonly-highlight {
  background-color: rgba(50, 43, 168, 0.5);
  opacity: 0.2;
  color: darkblue;
}
