#canvas_config {
  border-color: transparent;
  background-color: rgba(val(--toolbar-bg-color), 0.7);

  &:hover {
    border-color:rgb(var(--tint-color)) !important;
    color: rgb(var(--tint-color));
  }
}

rect.Raft {
  fill: rgba(28, 155, 171, 0.1);
}
