

body {
  margin: 0;
  padding: 0;
  overflow:hidden;

  #layout {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .nav-tabs {
      float: left;
      border-bottom: 0;
      li {
        float: none;
        margin: 0;

        a {
          margin-right: 0;
          border: 0;
        }
      }
    }


    .tab-content {

      .tab-pane {

        .workspace {

          .paletteContainer {
            position:absolute;
            height: 100%;
            width: @leftPaneWidth;
            padding: 0;
            user-select: none;

            #paletteHeader {
              position: relative;
              margin: 0;
              padding: 0;
              top: 0;
              bottom: 0;
              display: flex;
              flex-direction: column;
              align-items: stretch;
              .paletteFilterTitle {

              }
              #paletteFilter{
                box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.26);
                padding: 10px;
                overflow-x: hidden;
                overflow-y: scroll;
                position: relative;
                flex-grow: 1;
                &::-webkit-scrollbar {
                  width: 5px;
                }

                &::-webkit-scrollbar-thumb {
                  background: #666;
                }

                .tree-leaf {
                  font-weight: 200;
                  .tree-expando {
                    line-height: 10px;
                    width: 12px;
                    height: 12px;
                    &.hidden{
                      display: block !important;
                      visibility: hidden !important;
                    }
                  }
                  .tree-leaf-content{
                    cursor: pointer;
                    transition: all 0.7s;
                    &.tree-child-leaves{
                      transition: all 0.7s;
                    }
                    &:hover{
                      background-color: rgba(243, 245, 246, 0.69);
                      transition: all 0.7s;
                    }
                    &.selected{
                      transition: all 0.4s;
                      background-color: #f3f5f6;
                    }
                  }
                }
              }
            }
            #paletteElementsScroll {
              position: relative;
              width: 100%;
              margin: 0;
              padding: 0;
              top: 0;
              bottom: 0;
              overflow: auto;
              box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.26);
              &::-webkit-scrollbar {
                width: 5px;
              }
              &::-webkit-scrollbar-thumb {
                background: #666;
              }

              #paletteElements {
                position: absolute;
                width: 100%;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
                gap:2px;
                padding:2px;

                .palette_item{
                  width: unit( (@leftPaneWidth / 2 - 8 ) , px);
                  height: unit( (@leftPaneWidth / 2 - 8) , px);
                  border-width: 1px;
                  border-style: solid;
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
                  flex-wrap: nowrap;
                  align-items: center;

                  &.hidden-item {
                    display: none;
                  }
              
                  img{
                    max-width: unit( (@leftPaneWidth / 2 - 15 ) , px);
                    max-height: unit( (@leftPaneWidth / 2 - 55) , px);
                    margin: auto;
                  }

                  div{
                    align-self: flex-end;
                    padding-bottom: 2px;
                    padding-top: 2px;
                    width: 100%;
                    text-align: center;
                    cursor:default;
                  }

                  .glowBorder{
                    border-width: 1px;
                    border-style: solid;
                  }
                }
              }
            }
          }
          .content {
            position:absolute;
            right: 0;
            top: @toolbarHeight;
            bottom:0;
            left: @leftPaneWidth;
            overflow: scroll;
            .canvas {
                width:6000px;
                height:6000px;
            }
          }
        }
      }
    }
  }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border:0;
}
