
.toolbar {

  .simulationBase{
    flex-direction: column;
    align-items: flex-start;
    padding-left:40px;
    label{
      display:block;
      opacity: 0.5;
      font-size:10px;
    }

    .slider-handle {
      border-radius: 50%;
    }
  
    #simulationBaseTimerSlider {
      height: @toolbarHeight - 20;
      margin: 5px;
      margin-bottom: 0;
      #simulationBaseTimer{
        width:200px;
      }
    }
  }
}