
body.light {
    --toolbar-bg-color: 254, 233, 233 ;
    --tint-color:       199, 29, 61 ;
    --tint-color-dark:  158, 27, 52 ;

    --lefttab-font-color: 254, 233, 233;
    --lefttab-bg-color:  199, 29, 61;

    .tooltip-inner {
        color: #b0b0b0 !important;
    }


    .toolbar {
        background-color: rgb(var(--toolbar-bg-color));
    }

    #draw2dCanvasWrapper {
        background-color: white;
    }

    #editor-container {

        .left {
            border-right-color: black;
        }
    }

    #leftTabStrip {
        background-color: rgb(var(--lefttab-bg-color)) ;

        &:after {
            color: rgb(var(--lefttab-font-color));
        }

        li {
            &.active {
                a{
                    &:hover {
                        background-color: white;
                    }

                    svg {
                        path[stroke],
                        rect[stroke],
                        g[stroke],
                        line[stroke],
                        circle[stroke],
                        polyline[stroke] {
                            stroke: rgb(var(--lefttab-bg-color))  !important;
                        }

                        circle[fill],
                        rect[fill] {
                            fill: rgb(var(--lefttab-bg-color))  !important;
                        }
                    }
                }
            }

            a {
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }

                svg {

                    path[stroke],
                    rect[stroke],
                    g[stroke],
                    line[stroke],
                    circle[stroke],
                    polyline[stroke] {
                        stroke:rgb(var(--lefttab-font-color)) !important;
                    }

                    circle[fill],
                    rect[fill] {
                        fill: rgb(var(--lefttab-font-color))!important;
                    }
                }
            }
        }
    }

    .welcomeMessage {

        background: url(../images/background.png) no-repeat;
        background-position: center top;
        background-size: 100% 50%;

        img {
            background-color: white;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }

        .teaser {
            background-color: white;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

            h2 {
                color: rgb(var(--tint-color)) ;
            }
        }

        button {
            background-color: rgb(var(--tint-color)) ;
            color: white;
        }
    }

    .shadow {
        border: 1px solid rgb(var(--tint-color)) ;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
        background-color: white;
    }

    .paletteContainer {
        background-color: white;
        border-right-color: rgba(74, 74, 74, 0.5);
        border-left-color: rgba(74, 74, 74, 0.5);

        .palette_item {
            border-color: #f0f0f0;

            >div {
                border-color: transparent;

                div {
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }

            .glowBorder {
                border-color: rgb(var(--tint-color)) ;
            }
        }

        #paletteElementsScroll {
            .pageElement {
                border-left-color: transparent;
                border-bottom-color: rgba(0, 0, 0, 0.03);

                &.selected {
                    background-color: #EFEFEF !important;
                    border-left-color: rgb(var(--tint-color)) ;
                }

                &:hover {
                    background-color: rgba(248, 248, 248, 0.6);
                }

                .page_action {
                    &:hover {
                        border-color: rgba(0, 0, 0, 0.4);
                        color: rgb(var(--tint-color)) ;
                        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
                    }
                }
            }
        }
    }



    #paletteElementsOverlay {
        background-color: rgba(255, 255, 255, 0.7);
    }


    #paletteFilter.pages {
        box-shadow: none !important;
    }


    .sections {
        .section {
            border-color: transparent;

            &.error {
                border-color:rgb(var(--tint-color)) ;
            }

            &:hover {
                border-radius: 3px;
                border-style: dashed;
                border-color: rgba(0, 0, 0, 0.1);
            }

            .sectionContent {
                &[data-type='image'] {

                    #editor-container {
                        &:hover {
                            box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
                            border-color: black;
                        }

                        #image-preview {
                            .overlay {
                                background: rgba(255, 255, 255, 0.5);
                            }
                        }
                    }
                }

                &[data-type='markdown'],
                &[data-type='cloze'] {
                    h1 ,
                    h2 ,
                    h3 {
                        color: rgb(var(--tint-color)) ;
                    }
                    h1{
                        border-bottom-color: rgb(var(--tint-color)) ;
                    }
                    .cloze {
                        background-color: lightgray;
                        padding-left: 15px;
                        padding-right: 15px;
                        border-radius: 3px;
                        border-bottom: 1px dotted gray;
                    }
                }

                &[data-type='spacer'] {
                    .material-button {
                        color: white;
                    }
                }
            }
        }

        .activeSection {
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
        }
    }

    #draw2dCanvasWrapper {
        .tinyFlyoverMenu {
          div{
            min-width: 25px;
            text-align: center;
          }
        }
    }
      
    .playButton {
        color: #9e9e9e;

        &:focus {
            color: rgba(0, 0, 0, 0);
        }

        &>span {
            &>span {
                background-color: white;
            }
        }

        &.play {
            &>span {
                &>span {
                    background-color: white;
                }
            }
        }
    }
}