
body.light {
    --toolbar-bg-color: 254, 233, 233 ;
    --tint-color:       199, 29, 61 ;
    --tint-color-dark:  158, 27, 52 ;

    --lefttab-font-color: 254, 233, 233;
    --lefttab-bg-color:  199, 29, 61;

    .tooltip-inner {
        color: #b0b0b0 !important;
    }

    .toolbar {
        background-color: rgb(var(--toolbar-bg-color));
    }

    #draw2dCanvasWrapper {
        background-color: white;
    }

    #editor-container {

        .left {
            border-right-color: black;
        }
    }

    #leftTabStrip {
        background-color: rgb(var(--lefttab-bg-color)) ;

        &:after {
            color: rgb(var(--lefttab-font-color));
        }

        li {
            &.active {
                a{
                    &:hover {
                        background-color: white;
                    }

                    svg {
                        path[stroke],
                        rect[stroke],
                        g[stroke],
                        line[stroke],
                        circle[stroke],
                        polyline[stroke] {
                            stroke: rgb(var(--lefttab-bg-color))  !important;
                        }

                        circle[fill],
                        rect[fill] {
                            fill: rgb(var(--lefttab-bg-color))  !important;
                        }
                    }
                }
            }

            a {
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }

                svg {

                    path[stroke],
                    rect[stroke],
                    g[stroke],
                    line[stroke],
                    circle[stroke],
                    polyline[stroke] {
                        stroke:rgb(var(--lefttab-font-color)) !important;
                    }

                    circle[fill],
                    rect[fill] {
                        fill: rgb(var(--lefttab-font-color))!important;
                    }
                }
            }
        }
    }

    .welcomeMessage {
        background: url(../images/background.png) no-repeat;
        background-position: center top;
        background-size: 100% 50%;

        img {
            background-color: white;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }

        .teaser {
            background-color: white;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

            h2 {
                color: rgb(var(--tint-color)) ;
            }
        }

        button {
            background-color: rgb(var(--tint-color)) ;
            color: white;
        }
    }

    .shadow {
        border: 1px solid rgb(var(--tint-color)) ;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
        background-color: white;
    }

    .paletteContainer {
        background-color: white;
        border-right-color: rgba(74, 74, 74, 0.5);
        border-left-color: rgba(74, 74, 74, 0.5);

        .palette_item {
            border-color: #f0f0f0;

            >div {
                border-color: transparent;

                div {
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }

            .glowBorder {
                border-color: rgb(var(--tint-color)) ;
            }
        }

        #paletteElementsScroll {
            .pageElement {
                border-left-color: transparent;
                border-bottom-color: rgba(0, 0, 0, 0.03);

                &.selected {
                    background-color: #EFEFEF !important;
                    border-left-color: rgb(var(--tint-color)) ;
                }

                &:hover {
                    background-color: rgba(248, 248, 248, 0.6);
                }

                .page_action {
                    &:hover {
                        border-color: rgba(0, 0, 0, 0.4);
                        color: rgb(var(--tint-color)) ;
                        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
                    }
                }
            }
        }
    }



    #paletteElementsOverlay {
        background-color: rgba(255, 255, 255, 0.7);
    }


    #paletteFilter.pages {
        box-shadow: none !important;

        #documentContentAdd {
            .button {
                background: rgb(var(--tint-color));
                &:before {
                    background: white;
                }
                &:after {
                    background: white;
                }
            }
            .nav {
                background: white;
                box-shadow: 2px 3px 10px 0 rgba(81, 81, 81, 0.1);
                border: 1px solid  lightgray;
        
                a {
                    color:  #6e6e6e;       
                    &:hover {
                        color:rgb(var(--tint-color));
                    }
                }
            }
        }
    }

    .content {
        background-color:rgba(0, 0, 0, 0.03);
    }

    .sections {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        background-color:white;
    }
    /** don't place ".section" in the sub-tree of ".sections" . The ".section" is 
        used in other page elements like pdf, dialog, single page, ...
    **/ 
    .section {
        border-color: transparent;

        &.error {
            border-color:rgb(var(--tint-color)) ;
        }

        &:hover {
            border-radius: 3px;
            border-style: dashed;
            border-color: rgba(0, 0, 0, 0.1);
        }

        .sectionContent {
            &[data-type='image'] {

                #editor-container {

                    #image-preview {
                        .overlay {
                            background: rgba(255, 255, 255, 0.5);
                        }
                    }
                }
            }

            &[data-type='flashcard'],
            &[data-type='wysiwyg'],
            &[data-type='markdown'],
            &[data-type='cloze'] {
                h1 ,
                h2 ,
                h3 {
                    color: rgb(var(--tint-color)) ;
                }
                h1{
                    border-bottom-color: rgb(var(--tint-color)) ;
                }
                .cloze {
                    background-color: lightgray;
                    padding-left: 15px;
                    padding-right: 15px;
                    border-radius: 3px;
                    border-bottom: 1px dotted gray;
                }
                a {
                    color: inherit;
                    text-decoration: none;
                    background:
                      linear-gradient(
                        to right,
                        rgb(var(--toolbar-bg-color)),
                        rgb(var(--toolbar-bg-color))
                      ),
                      linear-gradient(
                        to right,
                        rgb(var(--tint-color)),
                        rgba(255, 0, 180, 1),
                        rgba(0, 100, 200, 1)
                    );
                    background-size: 100% 1px, 0 1px;
                    background-position: 100% 100%, 0 100%;
                    background-repeat: no-repeat;
                    transition: background-size 200ms;
                  }    
                  a:hover {
                    background-size: 0 1px, 100% 1px;
                  }
            }

            &[data-type='spacer'] {
                .material-button {
                    color: white;
                }
            }

            /** learning content gets a special annotation on the left **/
            &[data-type="flashcard"] {
                .sectionMenuFlip {
                    background-color: rgba(var(--tint-color), 0.2) ;
                    border: 1px solid white;
                }
            }
        }
    }

    .activeSection {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        &:hover {
            border-color: transparent !important;
        }

        /** Tab for the selected/active card **/
        &::before {
            color: #d9d9d9;
            border-color: #eaeaea;
            background-color: white;
            opacity: 1;
        }

          
    }

    #draw2dCanvasWrapper {
        .tinyFlyoverMenu {
          div{
            min-width: 25px;
            text-align: center;
          }
        }
    }
      
    .playButton {
        color: #9e9e9e;

        &:focus {
            color: rgba(0, 0, 0, 0);
        }

        &>span {
            &>span {
                background-color: white;
            }
        }

        &.play {
            &>span {
                &>span {
                    background-color: white;
                }
            }
        }
    }
}