#exportModeDialog {

  .button-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    button{
      min-width:220;
      text-align: right;
      img{
        max-height:50px;
      }
    }
  }
}
