.paletteContainer {
  position: absolute;
  height: 100%;
  width: @leftPaneWidth;
  padding: 0;
  border: 0;
  text-align: center;
  z-index: 1;
  border-right-width: 1px;
  border-right-style: solid;
  border-left-width: 1px;
  border-left-style: solid;

  .palette_item {
    padding: 0;
    text-align: center;
    width: unit((@leftPaneWidth / 2), px);
    height: unit((@leftPaneWidth / 2), px);
    border-width: 1px;
    border-style: solid;

    >div {
      width: 100%;
      height: 100%;
      text-align: center;
      border-width: 1px;
      border-style: solid;

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 50%;
        transform: translate(-50%, -10px);
      }

      div {
        position: absolute;
        padding-bottom: 2px;
        width: 100%;
        bottom: 0;
        padding-top: 2px;
        cursor: default;
      }
    }

    .glowBorder {
      border-style: solid;
      border-width: 1px;
    }
  }

  .draw2d_droppable {
    cursor: move;
    max-height: 80px;
  }

  #paletteHeader {
    #paletteFilter {
      .toc {
        padding: 5px;
        padding-top: 0px;
        margin-top: 20px;
        line-height: 30px;
      }
    }
  }

  #paletteElementsScroll {
    .pageElement {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      padding: 10px;
      cursor: pointer;
      border-left-width: 2px;
      border-left-style: solid;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      position: relative;

    white-space: nowrap;
      .spacer {
        flex-grow: 1;
      }

      &.selected {
        border-left-width: 2px;
        border-left-style: solid;
      }

      &:hover {
        .page_action {
          visibility: initial;
        }
      }

      .page_action {
        visibility: hidden;
        font-size: 20px;
        min-width: 25px;
      }
    }
  }
}



#paletteElementsOverlay {
  bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
}

#paletteElementsScroll.pages {
  position: absolute !important;
  top: @leftPaneTitleHeight !important;
}

#paletteFilter.pages {
  box-shadow: none !important;
  top: 64px !important;
  padding: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  text-align: left !important;
  position: relative !important;

  #documentContentAdd {

    left: @leftPaneWidth + @tabSize - 30;
    top: @leftPaneTitleHeight + @appbarHeight - 25;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index:10000;
    transform: translateX(-50%);

    #toggle {
        -webkit-appearance: none;
    }

    .button {
        position: absolute;
        z-index: 999;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -12px;

        &:before {
            position: absolute;
            content: "";
            width: 20px;
            height: 2px;
            transform: rotate(90deg);
            transition: all 0.2s ease;
        }

        &:after {
            position: absolute;
            content: "";
            width: 20px;
            height: 2px;
            transition: all 0.2s ease;
        }
    }

    .nav {
        margin-top: 20px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        width: 100%;
        border-radius: 2px;
        transform: translateY(0%);
        padding: 10px;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        a {
            text-align: center;
            text-decoration: none;
            cursor:pointer;
            font-size: 12px;
        }
    }

    #toggle:checked~.nav {
        opacity: 1;
        transform: translateY(10%);
    }

    #toggle:checked~.button:before {
        transform: rotate(135deg);
    }

    #toggle:checked~.button:after {
        transform: rotate(45deg);
    }
  }
}