
.sections {
  list-style: none;
  padding: 0;
  margin: 10px;

  .section {
    margin-left:20px;
    margin-right:20px;
    cursor: pointer;
    border-width:1px;
    border-style:solid;
    padding-left:3px;

    &.error {
      border-width:1px;
      border-style:solid;
    }

    &:hover{
      border-width:1px;
      border-style:solid;
      .sectionContent[data-type='spacer'] {
        .material-button{
          visibility:visible !important;
        }
      }
    }

    &[data-type='image']{
      text-align: center;
    }

    .sectionContent {
      /* reqiered for flipcards */
      perspective: 1000px;


      &[data-type='image']{
        text-align: center;
        max-width: 100%;

        #editor-container {
          display: initial;
          &:hover {
            border-width:1px;
            border-style: dotted;
          }
          .drop-message{
            margin: auto;
          }
          #image-preview {
            margin-top: 20px;
            .image-view {
              display: inline-block;
              position: relative;
              margin-right: 13px;
              margin-bottom: 13px;
              img {
                max-width: 90%;
              }
            }
            .overlay {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              right: 0;
              z-index: 2;
            }
          }
        }
      }

      &[data-type='markdown'],
      &[data-type='cloze']{
        h1 {
          font-weight: 400;
          margin-bottom: 0;
          margin-bottom: 18px;
          margin-top: 19px;
          border-bottom-width: 2px;
          border-bottom-style: solid;
          font-size: 18px;
        }
        h2, h3 {
          font-weight: 300;
        }
      }

      &[data-type='brain']{
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        max-width:100%;
      }
      &[data-type='flipcard']{

          .flip_box {
            position: relative;
            transition: all 0.5s ease-out;
            transform-style: preserve-3d;
            display: grid;
          }

          .front,
          .back {
            backface-visibility: hidden;
            grid-area: 1 / 1 / 2 / 2;
          }


          .front {
            background-color: lightgray;
          }

          .back {
            background-color:lightblue;
            transform: rotateY(180deg);
          }

          .flipped {
            transform: rotateY(-180deg);
          }

      }
      &[data-type='spacer']{
        position: relative;
        height:36px;
        position: relative;
        height: 36px;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 10px;
        align-items: center;

        .material-button{
          visibility:hidden;
        }
      }
    }
  }
  .activeSection {
    position:relative;
  }
}


