
.sections {
  list-style: none;
  padding: 0;
  margin: 10px;

  .section {
    margin-left:20px;
    margin-right:20px;
    cursor: pointer;
    border-width:1px;
    border-style:solid;
    padding-left:3px;

    &.error {
      border-width:1px;
      border-style:solid;
    }

    &:hover{
      border-width:1px;
      border-style:solid;
      .sectionContent[data-type='spacer'] {
        .material-button{
          visibility:visible !important;
        }
      }
    }

    .sectionContent {
      &[data-type='image']{
        text-align: center;
        max-width: 100%;

        #editor-container {
          display: initial;
          &:hover {
            border-width:1px;
            border-style: dotted;
          }
          .drop-message{
            margin: auto;
          }
          #image-preview {
            margin-top: 20px;
            .image-view {
              display: inline-block;
              position: relative;
              margin-right: 13px;
              margin-bottom: 13px;
              img {
                max-width: 90%;
              }
            }
            .overlay {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              right: 0;
              z-index: 2;
            }
          }
        }
      }

      &[data-type='markdown']{
        h1 {
          font-weight: 400;
          margin-bottom: 0;
          text-decoration: underline;
        }

        h2 {
          font-weight: 300;
        }

      }

      &[data-type='brain']{
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        max-width:100%;
      }
      &[data-type='spacer']{
        position: relative;
        height:36px;
        text-align: center;
        .material-button{
          visibility:hidden;
          &::before{
            padding-right:5px;
          }
        }
      }

    }

  }
  .activeSection {
    position:relative;
  }
}


