.welcomeMessage {
  min-height: 100%;
  img{
    transform: translateX(-50%);
    padding: 0px;
    width: 20vw;
    position: absolute;
    right: 20px;
    top:110px;
    border-radius: 5px;
  }
  .description{
    position: absolute;
    top: 320px;
    left: 59px;
    font-size: 18px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    text-align: left;
  }
  .teaser {
    display: inline-block;
    top: 30px;
    position: absolute;
    left: 40px;
    padding: 23px;
    max-width: 40%;
    border-radius: 5px;
    h2 {
      margin-top: 0;
      font-weight: 300;
      font-size: 2vw;
      text-align: right;
    }
    p {
      text-align: right;
    }

  }
  button{
    border: 0;
    border-radius: 2px;
  }
}

@media (min-width: 1050px) { /* Breite beträgt mindestens 50em */
  .welcomeMessage {
    .description{
      position: absolute;
      top: 214px;
      left: 59px;
      font-size: 1.4vw;
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      text-align: left;
      max-width:40%;
    }
  }
}

