.toolbar {
    background-color: rgb(var(--toolbar-bg-color));

    .slider-handle {
        background-color: rgb(var(--tint-color));
    }

    .simulationBase {
        label {
            opacity: 0.5;
        }
    }
}
