/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.layout {
    position: relative;
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-between;

    z-index: 20;
    height: 100vh;
    background-color: rgb(245, 248, 255);
    color: #333;
    border-bottom: 2px solid rgb(var(--tint-color));
    scroll-snap-align: start;


    .teaserContainer {
        flex-grow: 4;
        display: flex; 
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:start;
        align-items: center;
        align-content: center;
        gap: 50px;
        .teaser {
            display: flex; 
            flex-direction: row;
            justify-content:space-between;
            align-items: start;
            align-content: center;

            .slogan {
                max-width: 80%;
                h1{
                    font-weight: 500;
                    font-size: calc(20px + 1vw);
                    line-height: 1.2;        
                    color:rgb(var(--tint-color));
                }
                .textblock{
                    background-color: #ffffffe0;
                    padding: 20px;
                    border-radius: @borderRadiusBig;
                    box-shadow: -3px 3px 5px 0 rgb(3 166 150 / 80%), 3px -3px 5px 0 rgb(242 75 89 / 80%);
                }
                font-weight: 300;
                line-height: 1.2;
                font-size: calc(8px + 1vw);
                color: black;
                padding-left:60px;
            }
        }
        .launchArea{
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: row;
            max-height:20vh;
            max-width:100%;
            
            .imageContainer {
                flex: 1;
                flex-flow: column wrap;
                align-items: center;
            
                display: flex; 
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
             
                img{
                    max-height:100%;
                }
            }
        }
          
    }

    .avatarContainer {
        flex-grow: 0;

        display: flex; 
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:space-between;
        align-items: flex-end;
        .avatar {
            text-align: center;
            font-weight: 400;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: flex-end;
            justify-content: flex-end;
            align-items: center;
            height:15vh;
            max-height:160px;
            img {
                height: 100%;
            }
        }

        .arrow {
            animation: mover 2s infinite alternate;
            font-size:20px;
            i {
                height: 20px;
                display: inline-block;
                border-left: 4px solid #000;
                border-radius: @borderRadiusSmall;
                &.left {
                    transform: rotate(-45deg);
                }
    
                &.right {
                    transform: rotate(45deg) translate(3px, -2px);
                }
            }
        }
    }

    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
}