/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.hero {
    position: relative;
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-between;

    z-index: 20;
    height: 100vh;
    background-color: #fff;
    color: #333;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    border-bottom: 2px solid #C71D3D;
    scroll-snap-align: start;

    .toolbar {
        display: flex; 
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:space-between;

        font-size: 30px;
        color:white;
        background-color:white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      
        .title {
          img{
            height:30px;
            margin-left:30px;
            margin-top:5px;
          }
      
          .app_name {
            font-weight: 200;
            display: inline-block;
            top: 6px;
            position: relative;
            left: 20px;
            color:#C71D3D;
          }
      
          .app_slogan {
            font-weight: 200;
            display: inline-block;
            top: 6px;
            position: relative;
            left: 20px;
            color:#C71D3D;
            font-size:70%;
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
          }
          @media (max-width: 990px) {
            .app_slogan {
              font-size:50%;
              transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            }
          }
          @media (max-width: 890px) {
            .app_slogan {
              display: none;
              transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            }
          }
        }
    }
      
    .teaserContainer {
        flex-grow: 4;
        display: flex; 
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:start;
        align-items: center;
        align-content: center;
        gap: 50px;
        .teaser {
            display: flex; 
            flex-direction: row;
            justify-content:space-between;
            align-items: start;
            align-content: center;

            .slogan {
                max-width: 80%;
                h1{
                    font-weight: 500;
                    font-size: calc(20px + 1vw);
                    line-height: 1.2;        
                    color: #C71D3D;
                }
                font-weight: 300;
                line-height: 1.2;
                font-size: calc(8px + 1vw);
                color: black;
                padding-left:60px;
            }
        }
        .launchArea{
            display: flex; 
            flex-direction: row;
            max-height:20vh;
            justify-content: space-evenly;
            .imageContainer {
                display: flex; 
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content:space-between;
                align-items: center;
                align-content: center;
                img{
                    max-height:100%;
                }
            }
        }
          
    }

    .avatarContainer {
        flex-grow: 0;

        display: flex; 
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:space-between;
        align-items: flex-end;
        .avatar {
            text-align: center;
            font-weight: 400;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: flex-end;
            justify-content: flex-end;
            align-items: center;
            height:15vh;
            max-height:160px;
            img {
                height: 100%;
            }
        }

        .arrow {
            animation: mover 2s infinite alternate;
            font-size:20px;
            i {
                height: 20px;
                display: inline-block;
                border-left: 4px solid #000;
                border-radius:4px;
                &.left {
                    transform: rotate(-45deg);
                }
    
                &.right {
                    transform: rotate(45deg) translate(3px, -2px);
                }
            }
        }
    }

    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
}