@import "../../common/less/index";

@import "variables";
@import "hero";
@import "intro";
@import "slidedeck";


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}


.launch_button {
    margin-top: 20px;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: calc(10px + 1vw);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    text-decoration: none;
    background-color: #C71D3D;
    color: white;
    font-weight: 300;
}

.toolbar {

    .group {
        .image-button {

            img,
            svg {
                color: #777;

                circle[stroke],
                polyline[stroke],
                path[stroke],
                g[stroke] {
                    stroke: #777 !important;
                }

                rect[fill],
                circle[fill] {
                    fill: #777 !important;
                }
            }

            div {
                color: #777;

                &.highlight {
                    animation: highlight 3s infinite;
                }
            }

            &.disabled {
                opacity: 0.2;
            }

            &:not(.disabled) {

                img,
                svg {
                    cursor: pointer;

                    &:hover {
                        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                    }
                }
            }
        }
    }
}
