.toolbar {
  z-index: 1;
  position: relative;
  color:white;
  background-color:white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  .title {
    img{
      height:30px;
      margin-left:30px;
      margin-top:5px;
    }

    .app_name {
      font-weight: 200;
      display: inline-block;
      top: 6px;
      position: relative;
      left: 20px;
      color:#C71D3D;
    }

    .app_slogan {
      font-weight: 200;
      display: inline-block;
      top: 6px;
      position: relative;
      left: 20px;
      color:#C71D3D;
      font-size:70%;
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    @media (max-width: 850px) {
      .app_slogan {
        font-size:50%;
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      }
    }
    @media (max-width: 730px) {
      .app_slogan {
        display: none;
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      }
    }
  }
}
