  
.playButton {
    color: #9e9e9e;

    &:focus {
        color: rgba(0, 0, 0, 0);
    }

    &>span {
        &>span {
            background-color: white;
        }
    }

    &.play {
        &>span {
            &>span {
                background-color: white;
            }
        }
    }
}
